<a href="https://colab.research.google.com/github/jaya-shankar/education-impact/blob/master/life_expectancy_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Model Performace History

1.   Cosidering life expectancy as input
      
      1. *Training using max no of countries:*\
          **MSE**: 1.421960711479187
          
      2. *Training using min no of countries:*\
          **MSE**: 1.6800711154937744

      3. *Training using only common countries:*\
          **MSE**: 1.5712116956710815

2.   Not cosidering life expectancy as input
      1. *Trained using max no of countries:*\
          **MSE**: 1.9395439624786377

      2. *Trained using min no of countries*:\
          **MSE**: 2.161480665206909

      3. *Trained using only common countries*:\
          **MSE**: 2.10016131401062

In [171]:
!rm -rf education-impact
!rm education-impact

rm: cannot remove 'education-impact': No such file or directory

In [172]:
!git clone https://github.com/jaya-shankar/education-impact.git

Cloning into 'education-impact'...
remote: Enumerating objects: 318, done.
remote: Counting objects: 100% (318/318), done.
remote: Compressing objects: 100% (269/269), done.
remote: Total 318 (delta 157), reused 157 (delta 46), pack-reused 0
Receiving objects: 100% (318/318), 2.11 MiB | 16.39 MiB/s, done.
Resolving deltas: 100% (157/157), done.

In [173]:
# !pip install tensorflow_decision_forests
# !pip install wurlitzer
# !pip install seaborn

In [174]:
import pandas as pd
import numpy as np
import math
import seaborn as sns
import tensorflow_decision_forests as tfdf
from sklearn.model_selection import train_test_split
from wurlitzer import sys_pipes

In [226]:
#@title Default title text
root = "education-impact/" 
datasets_path = {
                    "infant_mortality"              :  root+ "datasets/Infant_Mortality_Rate.csv",
                    "child_mortality"               :  root+ "datasets/child_mortality_0_5_year_olds_dying_per_1000_born.csv",
                    "children_per_woman"            :  root+ "datasets/children_per_woman_total_fertility.csv",
                    "co2_emissions"                 :  root+ "datasets/co2_emissions_tonnes_per_person.csv",
                    "population"                    :  root+ "datasets/converted_pop.csv",
                    "food_supply"                   :  root+ "datasets/food_supply_kilocalories_per_person_and_day.csv",
                    "gdp_growth"                    :  root+ "datasets/gdp_per_capita_yearly_growth.csv",
                    "Avg_daily_income_ppp"          :  root+ "datasets/mincpcap_cppp.csv",
                    "gdppercapita_us_infla_adjust"  :  root+ "datasets/gdppercapita_us_inflation_adjusted.csv",
                    "gini_index"                    :  root+ "datasets/gini.csv",
                    "life_expectancy"               :  root+ "datasets/life_expectancy_years.csv",
                    "malnutrition"                  :  root+ "datasets/malnutrition_weight_for_age_percent_of_children_under_5.csv",
                    "poverty_index"                 :  root+ "datasets/mincpcap_cppp.csv",
                    "maternal_mortality"            :  root+ "datasets/mmr_who.csv",
                    "people_in_poverty"             :  root+ "datasets/number_of_people_in_poverty.csv",
                    "primary_completion"            :  root+ "datasets/primary_school_completion_percent_of_girls.csv",
                    "ratio_b/g_in_primary"          :  root+ "datasets/ratio_of_girls_to_boys_in_primary_and_secondary_education_perc.csv",
                    "wcde-25--34"                   :  root+ "datasets/wcde-25--34.csv",
                    "wcde-Incomplete_Primary"       :  root+ "datasets/wcde-Incomplete Primary.csv",
                    "wcde-Lower_Secondary"          :  root+ "datasets/wcde-Lower Secondary.csv",
                    "wcde-Post_Secondary"           :  root+ "datasets/wcde-Post Secondary.csv",
                    "wcde_female-Incomplete_Primary":  root+ "datasets/wcde_female-Incomplete Primary.csv",
                    "wcde_female-Lower_Secondary"   :  root+ "datasets/wcde_female-Lower Secondary.csv",
                    "wcde_female-Post_Secondary"    :  root+ "datasets/wcde_female-Post Secondary.csv",
                    "wcde-In_Primary_OL"            :  root+ "datasets/wcde-In_Primary_OL.csv",
                    "wcde-Primary_OL"               :  root+ "datasets/wcde-Primary_OL.csv",
                    "wcde-Lower_Secondary_OL"       :  root+ "datasets/wcde-Lower_Secondary_OL.csv",
                    "female_wcde-In_Primary_OL"     :  root+ "datasets/wcde-female_In_Primary_OL.csv",
                    "female_wcde-Primary_OL"        :  root+ "datasets/wcde-female_Primary_OL.csv",
                    "female_wcde-Lower_Secondary_OL":  root+ "datasets/wcde-female_Lower_Secondary_OL.csv"
                }

In [301]:
datasets = [
            # "infant_mortality",
            # "life_expectancy",
            # "child_mortality",
            "children_per_woman",
            "co2_emissions",
            "gini_index",
            "gdppercapita_us_infla_adjust",
            "wcde-In_Primary_OL",
            "wcde-Primary_OL",
            # "wcde-Lower_Secondary_OL",
            "population",
            "female_wcde-In_Primary_OL",
            "female_wcde-Primary_OL" ,
            # "female_wcde-Lower_Secondary_OL"
            ]

In [302]:
PREDICT_FUTURE  = 10
OUTPUTS         = ['life_expectancy']

In [303]:
# to find out how many countries each dataset has
countries_count      = None
least_dataset_path   = None
for dataset in datasets:
  df = pd.read_csv(datasets_path[dataset])
  count = len(set(df.Country.unique()))
  if not countries_count:
    countries_count = count
    least_dataset_path   = datasets_path[dataset]
  elif countries_count > count:
    countries_count = count
    least_dataset_path   = datasets_path[dataset]
  print(f"{'Factor: ' + dataset:<30} count: {count}")
print(f"{'To use: ' + least_dataset_path:<30} count: {countries_count}")

Factor: children_per_woman     count: 202
Factor: co2_emissions          count: 194
Factor: gini_index             count: 195
Factor: gdppercapita_us_infla_adjust count: 207
Factor: wcde-In_Primary_OL     count: 202
Factor: wcde-Primary_OL        count: 202
Factor: population             count: 197
Factor: female_wcde-In_Primary_OL count: 202
Factor: female_wcde-Primary_OL count: 202
To use: education-impact/datasets/co2_emissions_tonnes_per_person.csv count: 194

In [304]:
common_countries = set()
for dataset in datasets:
  countries_list = list(pd.read_csv(datasets_path[dataset]).Country)
  countries_list = set(map(lambda x: x.lower(), countries_list))
  if common_countries == set():
    common_countries = countries_list
  else:
    common_countries = common_countries.intersection(countries_list)
len(common_countries)

158

In [305]:
# creating a list of all countries & years
countries = list(common_countries)
years     = [y for y in range(1960,2015-PREDICT_FUTURE+1)]

In [306]:
len(countries)

158

In [307]:
keys=[]
for y in years:
  for c in countries:
    keys.append((c,str(y)))

In [308]:
big_dic = {k : [] for k in keys}
for dataset in datasets:
  df = pd.read_csv(datasets_path[dataset])
  df["Country"] = df["Country"].str.lower()
  df.set_index("Country", inplace=True)
  for k in keys:
    try:
      big_dic[k].append(df.loc[k[0]][k[1]])
    except:
      big_dic[k].append(np.NaN)

In [309]:
for output_path in OUTPUTS:
  df = pd.read_csv(datasets_path[output_path])
  df["Country"] = df["Country"].str.lower()
  df.set_index("Country", inplace=True)
  for k in keys:
    try:
      big_dic[k].append(df.loc[k[0]][str(int(k[1])+PREDICT_FUTURE)])
    except:
      big_dic[k].append(np.NaN)

In [310]:
columns = [k for k in datasets ]
output_columns = ["o_"+o for o in OUTPUTS]
columns.extend(output_columns)

In [311]:
input_df = pd.DataFrame.from_dict(big_dic,orient='index', columns = columns)
output_df = input_df[["o_"+o for o in OUTPUTS]]
input_df.drop(labels=["o_"+o for o in OUTPUTS], axis = 1, inplace=True)

In [312]:
X_train, X_test, y_train, y_test = train_test_split(input_df, output_df, test_size=0.30, random_state=43)

In [313]:
X_train.isna().sum()

children_per_woman                 0
co2_emissions                     97
gini_index                         0
gdppercapita_us_infla_adjust    1299
wcde-In_Primary_OL                 0
wcde-Primary_OL                    0
population                         0
female_wcde-In_Primary_OL          0
female_wcde-Primary_OL             0
dtype: int64

In [314]:
y_train.isna().sum()

o_life_expectancy    0
dtype: int64

In [315]:
X_train

                               children_per_woman  ...  female_wcde-Primary_OL
(ethiopia, 1966)                             6.87  ...                   99.40
(malawi, 1963)                               7.02  ...                   95.98
(montenegro, 1987)                           2.12  ...                    3.52
(pakistan, 2005)                             4.07  ...                   70.80
(papua new guinea, 1986)                     5.11  ...                    0.00
...                                           ...  ...                     ...
(paraguay, 1999)                             3.68  ...                   53.58
(belarus, 1974)                              2.19  ...                    2.74
(sao tome and principe, 1974)                6.53  ...                   96.86
(nicaragua, 1981)                            6.02  ...                   74.24
(serbia, 1997)                               1.84  ...                    2.52

[5087 rows x 9 columns]

In [316]:
# sns.pairplot(X_train[["infant_mortality","life_expectancy"]], diag_kind="kde")

In [317]:
# sns.pairplot(X_train[["infant_mortality","Avg_daily_income_ppp"]], diag_kind="kde")

In [318]:
# sns.pairplot(X_train[["infant_mortality","wcde-Incomplete_Primary"]], diag_kind="kde")

In [319]:
# sns.pairplot(X_train[["infant_mortality","population"]], diag_kind="kde")

In [320]:
y_train

                               o_life_expectancy
(ethiopia, 1966)                            44.1
(malawi, 1963)                              44.2
(montenegro, 1987)                          73.8
(pakistan, 2005)                            64.4
(papua new guinea, 1986)                    63.4
...                                          ...
(paraguay, 1999)                            75.8
(belarus, 1974)                             70.5
(sao tome and principe, 1974)               61.4
(nicaragua, 1981)                           72.1
(serbia, 1997)                              73.2

[5087 rows x 1 columns]

In [321]:
combine_dfs("o_"+OUTPUTS[0],X_test,y_test)

                                  children_per_woman  ...  o_life_expectancy
(iraq, 1963)                                    6.69  ...               64.7
(argentina, 1974)                               3.26  ...               70.8
(montenegro, 1992)                              2.05  ...               73.9
(italy, 1975)                                   2.12  ...               75.8
(switzerland, 1960)                             2.52  ...               73.3
...                                              ...  ...                ...
(ireland, 1977)                                 3.34  ...               74.3
(nepal, 1993)                                   4.93  ...               67.0
(new zealand, 2004)                             2.02  ...               81.5
(central african republic, 1970)                5.95  ...               49.2
(qatar, 1981)                                   5.66  ...               69.8

[2181 rows x 10 columns]

In [322]:
def combine_dfs(label,X,y):
  frames      = [X,y[label]]
  le_model_df = pd.concat(frames,axis=1)
  le_model_df.dropna(subset=[label],inplace=True)
  return le_model_df

In [323]:
for output in OUTPUTS:
  # converting pandas to tensorFlow dataset
  train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(combine_dfs("o_"+output,X_train,y_train), label="o_"+output, task=tfdf.keras.Task.REGRESSION)
  model = tfdf.keras.RandomForestModel(task = tfdf.keras.Task.REGRESSION)
  
  model.fit(x=train_ds)
  # Convert it to a TensorFlow dataset
  test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(combine_dfs("o_"+output,X_train,y_train), label="o_"+output, task=tfdf.keras.Task.REGRESSION)

  # Evaluate the model
  model.compile(metrics=["mse"])
  # Evaluate the model on the test dataset.
  evaluation = model.evaluate(test_ds, return_dict=True)
  print(output.upper())
  print(evaluation)
  print()
  print(f"MSE: {evaluation['mse']}")
  print(f"RMSE: {math.sqrt(evaluation['mse'])}")
  print()

80/80 [==============================] - 6s 70ms/step
80/80 [==============================] - 1s 8ms/step - loss: 0.0000e+00 - mse: 2.2808
LIFE_EXPECTANCY
{'loss': 0.0, 'mse': 2.2807931900024414}

MSE: 2.2807931900024414
RMSE: 1.5102295156705292

In [324]:
tfdf.model_plotter.plot_model_in_colab(model, tree_idx=0)

In [325]:
# %set_cell_height 300

model.summary()

Model: "random_forest_model_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1
Trainable params: 0
Non-trainable params: 1
_________________________________________________________________
Type: "RANDOM_FOREST"
Task: REGRESSION
Label: "__LABEL"

Input Features (9):
	children_per_woman
	co2_emissions
	female_wcde-In_Primary_OL
	female_wcde-Primary_OL
	gdppercapita_us_infla_adjust
	gini_index
	population
	wcde-In_Primary_OL
	wcde-Primary_OL

No weights

Variable Importance: MEAN_MIN_DEPTH:
    1.                      "__LABEL" 11.454764 ################
    2.           "wcde-In_Primary_OL"  8.076121 #########
    3.    "female_wcde-In_Primary_OL"  7.876849 #########
    4.                   "population"  7.036748 ########
    5.                   "gini_index"  5.905103 ######
    6.                "co2_emissions"  5.685592 #####
    7.       "female_wcde-Primary_OL"  5.541573 #####
    8.              "wcde-Primary_OL"  5.270643 ####
    9. "gdppercapita_us_infla_adjust"  4.285061 ###
   10.           "children_per_woman"  2.464084

Variable Importance: NUM_AS_ROOT:
    1.        "children_per_woman" 125.000000 ################
    2.           "wcde-Primary_OL" 73.000000 #########
    3.    "female_wcde-Primary_OL" 65.000000 ########
    4. "female_wcde-In_Primary_OL" 18.000000 ##
    5.        "wcde-In_Primary_OL" 18.000000 ##
    6.             "co2_emissions"  1.000000

Variable Importance: NUM_NODES:
    1.                   "population" 33703.000000 ################
    2.                   "gini_index" 27913.000000 #########
    3.           "children_per_woman" 27896.000000 #########
    4.                "co2_emissions" 26869.000000 ########
    5. "gdppercapita_us_infla_adjust" 24783.000000 ######
    6.              "wcde-Primary_OL" 18933.000000
    7.       "female_wcde-Primary_OL" 18823.000000
    8.           "wcde-In_Primary_OL" 18396.000000
    9.    "female_wcde-In_Primary_OL" 18297.000000

Variable Importance: SUM_SCORE:
    1.           "children_per_woman" 42861558.207489 ################
    2.              "wcde-Primary_OL" 24912162.766261 ########
    3.       "female_wcde-Primary_OL" 22984246.206917 #######
    4. "gdppercapita_us_infla_adjust" 11834010.589737 ##
    5.    "female_wcde-In_Primary_OL" 8548076.946824 #
    6.           "wcde-In_Primary_OL" 8195690.865254
    7.                   "gini_index" 6995494.845241
    8.                "co2_emissions" 6854519.657822
    9.                   "population" 6065154.983251



Out-of-bag evaluation: rmse:2.37154
Number of trees: 300
Total number of nodes: 431526

Number of nodes by tree:
Count: 300 Average: 1438.42 StdDev: 50.3687
Min: 1283 Max: 1561 Ignored: 0
----------------------------------------------
[ 1283, 1296)  1   0.33%   0.33%
[ 1296, 1310)  2   0.67%   1.00% #
[ 1310, 1324)  4   1.33%   2.33% #
[ 1324, 1338)  3   1.00%   3.33% #
[ 1338, 1352)  7   2.33%   5.67% ##
[ 1352, 1366) 10   3.33%   9.00% ###
[ 1366, 1380) 14   4.67%  13.67% ####
[ 1380, 1394) 18   6.00%  19.67% #####
[ 1394, 1408) 20   6.67%  26.33% #####
[ 1408, 1422) 18   6.00%  32.33% #####
[ 1422, 1436) 31  10.33%  42.67% ########
[ 1436, 1450) 40  13.33%  56.00% ##########
[ 1450, 1464) 39  13.00%  69.00% ##########
[ 1464, 1478) 32  10.67%  79.67% ########
[ 1478, 1492) 19   6.33%  86.00% #####
[ 1492, 1506) 17   5.67%  91.67% ####
[ 1506, 1520) 15   5.00%  96.67% ####
[ 1520, 1534)  5   1.67%  98.33% #
[ 1534, 1548)  2   0.67%  99.00% #
[ 1548, 1561]  3   1.00% 100.00% #

Depth by leafs:
Count: 215913 Average: 11.4548 StdDev: 2.38098
Min: 3 Max: 15 Ignored: 0
----------------------------------------------
[  3,  4)     2   0.00%   0.00%
[  4,  5)   121   0.06%   0.06%
[  5,  6)   863   0.40%   0.46%
[  6,  7)  3236   1.50%   1.96% #
[  7,  8)  7954   3.68%   5.64% ###
[  8,  9) 14252   6.60%  12.24% #####
[  9, 10) 21230   9.83%  22.07% #######
[ 10, 11) 27589  12.78%  34.85% #########
[ 11, 12) 30925  14.32%  49.17% ##########
[ 12, 13) 31189  14.45%  63.62% ##########
[ 13, 14) 28578  13.24%  76.85% #########
[ 14, 15) 23210  10.75%  87.60% #######
[ 15, 15] 26764  12.40% 100.00% #########

Number of training obs by leaf:
Count: 215913 Average: 7.06812 StdDev: 5.99236
Min: 5 Max: 293 Ignored: 0
----------------------------------------------
[   5,  19) 212223  98.29%  98.29% ##########
[  19,  33)   2181   1.01%  99.30%
[  33,  48)    730   0.34%  99.64%
[  48,  62)    278   0.13%  99.77%
[  62,  77)    174   0.08%  99.85%
[  77,  91)    118   0.05%  99.90%
[  91, 106)     67   0.03%  99.93%
[ 106, 120)     34   0.02%  99.95%
[ 120, 135)     33   0.02%  99.97%
[ 135, 149)     20   0.01%  99.97%
[ 149, 163)     10   0.00%  99.98%
[ 163, 178)     12   0.01%  99.98%
[ 178, 192)     18   0.01%  99.99%
[ 192, 207)      4   0.00%  99.99%
[ 207, 221)      5   0.00% 100.00%
[ 221, 236)      2   0.00% 100.00%
[ 236, 250)      1   0.00% 100.00%
[ 250, 265)      0   0.00% 100.00%
[ 265, 279)      0   0.00% 100.00%
[ 279, 293]      3   0.00% 100.00%

Attribute in nodes:
	33703 : population [NUMERICAL]
	27913 : gini_index [NUMERICAL]
	27896 : children_per_woman [NUMERICAL]
	26869 : co2_emissions [NUMERICAL]
	24783 : gdppercapita_us_infla_adjust [NUMERICAL]
	18933 : wcde-Primary_OL [NUMERICAL]
	18823 : female_wcde-Primary_OL [NUMERICAL]
	18396 : wcde-In_Primary_OL [NUMERICAL]
	18297 : female_wcde-In_Primary_OL [NUMERICAL]

Attribute in nodes with depth <= 0:
	125 : children_per_woman [NUMERICAL]
	73 : wcde-Primary_OL [NUMERICAL]
	65 : female_wcde-Primary_OL [NUMERICAL]
	18 : wcde-In_Primary_OL [NUMERICAL]
	18 : female_wcde-In_Primary_OL [NUMERICAL]
	1 : co2_emissions [NUMERICAL]

Attribute in nodes with depth <= 1:
	226 : children_per_woman [NUMERICAL]
	197 : wcde-Primary_OL [NUMERICAL]
	171 : female_wcde-Primary_OL [NUMERICAL]
	126 : gdppercapita_us_infla_adjust [NUMERICAL]
	66 : female_wcde-In_Primary_OL [NUMERICAL]
	57 : wcde-In_Primary_OL [NUMERICAL]
	48 : co2_emissions [NUMERICAL]
	9 : gini_index [NUMERICAL]

Attribute in nodes with depth <= 2:
	426 : children_per_woman [NUMERICAL]
	375 : gdppercapita_us_infla_adjust [NUMERICAL]
	326 : female_wcde-Primary_OL [NUMERICAL]
	316 : wcde-Primary_OL [NUMERICAL]
	307 : co2_emissions [NUMERICAL]
	118 : female_wcde-In_Primary_OL [NUMERICAL]
	98 : gini_index [NUMERICAL]
	89 : wcde-In_Primary_OL [NUMERICAL]
	45 : population [NUMERICAL]

Attribute in nodes with depth <= 3:
	809 : gdppercapita_us_infla_adjust [NUMERICAL]
	807 : children_per_woman [NUMERICAL]
	648 : co2_emissions [NUMERICAL]
	497 : gini_index [NUMERICAL]
	493 : wcde-Primary_OL [NUMERICAL]
	489 : female_wcde-Primary_OL [NUMERICAL]
	321 : population [NUMERICAL]
	232 : female_wcde-In_Primary_OL [NUMERICAL]
	202 : wcde-In_Primary_OL [NUMERICAL]

Attribute in nodes with depth <= 5:
	2720 : gini_index [NUMERICAL]
	2625 : gdppercapita_us_infla_adjust [NUMERICAL]
	2588 : children_per_woman [NUMERICAL]
	2457 : population [NUMERICAL]
	2092 : co2_emissions [NUMERICAL]
	1403 : female_wcde-Primary_OL [NUMERICAL]
	1368 : wcde-Primary_OL [NUMERICAL]
	1230 : female_wcde-In_Primary_OL [NUMERICAL]
	1177 : wcde-In_Primary_OL [NUMERICAL]

Condition type in nodes:
	215613 : HigherCondition
Condition type in nodes with depth <= 0:
	300 : HigherCondition
Condition type in nodes with depth <= 1:
	900 : HigherCondition
Condition type in nodes with depth <= 2:
	2100 : HigherCondition
Condition type in nodes with depth <= 3:
	4498 : HigherCondition
Condition type in nodes with depth <= 5:
	17660 : HigherCondition
Node format: NOT_SET

Training OOB:
	trees: 1, Out-of-bag evaluation: rmse:3.93049
	trees: 11, Out-of-bag evaluation: rmse:2.76532
	trees: 21, Out-of-bag evaluation: rmse:2.59008
	trees: 31, Out-of-bag evaluation: rmse:2.51439
	trees: 41, Out-of-bag evaluation: rmse:2.46905
	trees: 51, Out-of-bag evaluation: rmse:2.44773
	trees: 61, Out-of-bag evaluation: rmse:2.43614
	trees: 71, Out-of-bag evaluation: rmse:2.42471
	trees: 81, Out-of-bag evaluation: rmse:2.41513
	trees: 91, Out-of-bag evaluation: rmse:2.40546
	trees: 101, Out-of-bag evaluation: rmse:2.40196
	trees: 111, Out-of-bag evaluation: rmse:2.40022
	trees: 121, Out-of-bag evaluation: rmse:2.39358
	trees: 131, Out-of-bag evaluation: rmse:2.39904
	trees: 141, Out-of-bag evaluation: rmse:2.39695
	trees: 151, Out-of-bag evaluation: rmse:2.38966
	trees: 161, Out-of-bag evaluation: rmse:2.38737
	trees: 171, Out-of-bag evaluation: rmse:2.38392
	trees: 181, Out-of-bag evaluation: rmse:2.38214
	trees: 191, Out-of-bag evaluation: rmse:2.37899
	trees: 201, Out-of-bag evaluation: rmse:2.38147
	trees: 211, Out-of-bag evaluation: rmse:2.37714
	trees: 221, Out-of-bag evaluation: rmse:2.37908
	trees: 231, Out-of-bag evaluation: rmse:2.38027
	trees: 241, Out-of-bag evaluation: rmse:2.37846
	trees: 251, Out-of-bag evaluation: rmse:2.37716
	trees: 261, Out-of-bag evaluation: rmse:2.37519
	trees: 271, Out-of-bag evaluation: rmse:2.37258
	trees: 281, Out-of-bag evaluation: rmse:2.37485
	trees: 291, Out-of-bag evaluation: rmse:2.37308
	trees: 300, Out-of-bag evaluation: rmse:2.37154

# CNN Algorithm

from the above output
- **malnutrition & people in povery** have least no of countries
- **infant mortality & gdp per captia** have highest no of countries

*Doubt:* Does having more data for one factor will make the decision tree bias?

###Steps
1. create a csv file such that each row contains all values of particular year & country present
2. the output for each row is year + 40 years corresponding value 
    1. **outputs** - life expectany, education level, gdp

From above output
- if we dont drop any rows our table size = 4256 entries
- if we drop rows containing any if all of outputs missing then our table size = 3039 entries
- if we drop rows containing any one of output missing then our table size = 1745 entries

so, I think its is better to go with second choice and build different models, but not sure it will not effect performance of the model

now we have the dataframe containing both inputs and ouputs,our next step is
1. split the data into train & test data
  1. try to split data based on continents to reduce bias
2. build DF model using tensorflow
3. check the accuracy of the model