<a href="https://colab.research.google.com/github/jaya-shankar/education-impact/blob/master/load_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!rm -rf education-impact
!rm education-impact

rm: cannot remove 'education-impact': No such file or directory

In [1]:
!git clone https://github.com/jaya-shankar/education-impact.git
!pip install tensorflow_decision_forests

Cloning into 'education-impact'...
remote: Enumerating objects: 126, done.
remote: Counting objects: 100% (126/126), done.
remote: Compressing objects: 100% (102/102), done.
remote: Total 126 (delta 59), reused 70 (delta 22), pack-reused 0
Receiving objects: 100% (126/126), 990.64 KiB | 1.07 MiB/s, done.
Resolving deltas: 100% (59/59), done.

In [2]:
root = "education-impact/" 
datasets_path = {
                    "infant_mortality"              :  root+ "datasets/Infant_Mortality_Rate.csv",
                    "child_mortality"               :  root+ "datasets/child_mortality_0_5_year_olds_dying_per_1000_born.csv",
                    "children_per_woman"            :  root+ "datasets/children_per_woman_total_fertility.csv",
                    "co2_emissions"                 :  root+"datasets/co2_emissions_tonnes_per_person.csv",
                    "population"                    :  root+ "datasets/converted_pop.csv",
                    "food_supply"                   :  root+ "datasets/food_supply_kilocalories_per_person_and_day.csv",
                    "gdp_per_captia"                :  root+ "datasets/gdp_per_capita_yearly_growth.csv",
                    "gini_index"                    :  root+ "datasets/gini.csv",
                    "life_expectancy"               :  root+ "datasets/life_expectancy_years.csv",
                    "malnutrition"                  :  root+ "datasets/malnutrition_weight_for_age_percent_of_children_under_5.csv",
                    "poverty_index"                 :  root+ "datasets/mincpcap_cppp.csv",
                    "maternal_mortality"            :  root+ "datasets/mmr_who.csv",
                    "people_in_poverty"             :  root+ "datasets/number_of_people_in_poverty.csv",
                    "primary_completion"            :  root+ "datasets/primary_school_completion_percent_of_girls.csv",
                    "ratio_b/g_in_primary"          :  root+ "datasets/ratio_of_girls_to_boys_in_primary_and_secondary_education_perc.csv",
                    "wcde-15--24"                   :  root+ "datasets/wcde-15--24.csv",
                    "wcde-25--34"                   :  root+ "datasets/wcde-25--34.csv",
                    "wcde-35--44"                   :  root+ "datasets/wcde-35--44.csv",
                    "wcde-45--54"                   :  root+ "datasets/wcde-45--54.csv",
                    "wcde-55--64"                   :  root+ "datasets/wcde-55--64.csv",
                    "wcde-65--74"                   :  root+ "datasets/wcde-65--74.csv",
                    "wcde-75--84"                   :  root+ "datasets/wcde-75--84.csv",
                    "wcde-85--94"                   :  root+ "datasets/wcde-85--94.csv",
                    "wcde-95--"                     :  root+ "datasets/wcde-95--.csv",
                 
                }

In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import tensorflow_decision_forests as tfdf

WARNING:root:TF Parameter Server distributed training not available.

In [5]:
# to find out how many countries each dataset has
countries_arr = []
for path in datasets_path:
  df = pd.read_csv(datasets_path[path])
  print(f"{'Factor: ' + path:<30} count: {len(set(df.Country.unique()))}")

Factor: infant_mortality       count: 266
Factor: child_mortality        count: 197
Factor: children_per_woman     count: 202
Factor: co2_emissions          count: 194
Factor: population             count: 197
Factor: food_supply            count: 179
Factor: gdp_per_captia         count: 221
Factor: gini_index             count: 195
Factor: life_expectancy        count: 195
Factor: malnutrition           count: 156
Factor: poverty_index          count: 195
Factor: maternal_mortality     count: 184
Factor: people_in_poverty      count: 145
Factor: primary_completion     count: 195
Factor: ratio_b/g_in_primary   count: 200
Factor: wcde-15--24            count: 202
Factor: wcde-25--34            count: 202
Factor: wcde-35--44            count: 202
Factor: wcde-45--54            count: 202
Factor: wcde-55--64            count: 202
Factor: wcde-65--74            count: 202
Factor: wcde-75--84            count: 202
Factor: wcde-85--94            count: 202
Factor: wcde-95--              count: 202

from the above output
- **malnutrition & people in povery** have least no of countries
- **infant mortality & gdp per captia** have highest no of countries

*Doubt:* Does having more data for one factor will make the decision tree bias?

###Steps
1. create a csv file such that each row contains all values of particular year & country present
2. the output for each row is year + 40 years corresponding value 
    1. **outputs** - life expectany, education level, gdp

In [6]:
PREDICT_FUTURE  = 40
OUTPUTS         = ['life_expectancy', 'gdp_per_captia', 'primary_completion' ]

In [57]:
# creating a list of all countries & years
countries = list(pd.read_csv('education-impact/datasets/Infant_Mortality_Rate.csv').Country.unique())
years     = [y for y in range(1960,2015-PREDICT_FUTURE+1)]

In [58]:
keys=[]
for y in years:
  for c in countries:
    keys.append((c,str(y)))

In [42]:
big_dic = {k : [] for k in keys}
for path in datasets_path:
  df = pd.read_csv(datasets_path[path])
  df.set_index("Country", inplace=True)
  for k in keys:
    try:
      big_dic[k].append(df.loc[k[0]][k[1]])
    except:
      big_dic[k].append(np.NaN)

In [ ]:
for output_path in OUTPUTS:
  df = pd.read_csv(datasets_path[output_path])
  df.set_index("Country", inplace=True)
  for k in keys:
    try:
      big_dic[k].append(df.loc[k[0]][str(int(k[1])+PREDICT_FUTURE)])
    except:
      big_dic[k].append(np.NaN)

In [ ]:
columns = [k for k in datasets_path ]
output_columns = ["o_"+o for o in OUTPUTS]
columns.extend(output_columns)

In [47]:
input_df = pd.DataFrame.from_dict(big_dic,orient='index', columns = columns)
output_df = input_df[["o_"+o for o in OUTPUTS]]
input_df.drop(labels=["o_"+o for o in OUTPUTS], axis = 1, inplace=True)

                                     o_life_expectancy  ... o_primary_completion
(Aruba, 1960)                                      NaN  ...                 97.1
(Africa Eastern and Southern, 1960)                NaN  ...                  NaN
(Afghanistan, 1960)                               54.7  ...                  NaN
(Africa Western and Central, 1960)                 NaN  ...                  NaN
(Angola, 1960)                                    52.8  ...                  NaN
...                                                ...  ...                  ...
(Kosovo, 1975)                                     NaN  ...                  NaN
(Yemen, Rep., 1975)                                NaN  ...                  NaN
(South Africa, 1975)                              62.3  ...                 89.1
(Zambia, 1975)                                    60.8  ...                  NaN
(Zimbabwe, 1975)                                  58.6  ...                  NaN

[4256 rows x 3 columns]

From above output
- if we dont drop any rows our table size = 4256 entries
- if we drop rows containing any if all of outputs missing then our table size = 3039 entries
- if we drop rows containing any one of output missing then our table size = 1745 entries

so, I think its is better to go with second choice and build different models, but not sure it will not effect performance of the model

now we have the dataframe containing both inputs and ouputs,our next step is
1. split the data into train & test data
  1. try to split data based on continents to reduce bias
2. build DF model using tensorflow
3. check the accuracy of the model

In [50]:
X_train, X_test, y_train, y_test = train_test_split(input_df, output_df, test_size=0.30, random_state=43)

In [51]:
frames      = [X_train,y_train['o_life_expectancy']]
le_model_df = pd.concat(frames,axis=1)
le_model_df.dropna(subset=['o_life_expectancy'],inplace=True)
le_model_df

                             infant_mortality  ...  o_life_expectancy
(Senegal, 1975)                         112.2  ...               67.0
(Andorra, 1962)                           NaN  ...               81.1
(Comoros, 1966)                           NaN  ...               64.4
(Ukraine, 1970)                           NaN  ...               70.8
(Lithuania, 1970)                        17.9  ...               73.2
...                                       ...  ...                ...
(Senegal, 1974)                         115.6  ...               66.8
(St. Kitts and Nevis, 1962)               NaN  ...               70.7
(Cote d'Ivoire, 1961)                   206.7  ...               51.5
(Nicaragua, 1968)                       120.2  ...               74.0
(Qatar, 1972)                            44.6  ...               74.3

[2000 rows x 25 columns]

In [52]:
train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(le_model_df, label="o_life_expectancy",max_num_classes=500)

In [53]:
model = tfdf.keras.RandomForestModel()
model.fit(train_ds)

32/32 [==============================] - 0s 3ms/step

WARNING:absl:Registering feature "malnutrition" not used by the model.
WARNING:absl:Registering feature "maternal_mortality" not used by the model.
WARNING:absl:Registering feature "people_in_poverty" not used by the model.

In [54]:
frames      = [X_test,y_test['o_life_expectancy']]
le_model_test_df = pd.concat(frames,axis=1)
le_model_test_df.dropna(subset=['o_life_expectancy'],inplace=True)
le_model_test_df

                             infant_mortality  ...  o_life_expectancy
(Ukraine, 1971)                          27.9  ...               71.5
(St. Kitts and Nevis, 1960)               NaN  ...               69.9
(Portugal, 1967)                         61.5  ...               79.4
(Mauritania, 1971)                      103.5  ...               68.4
(Uganda, 1960)                          131.4  ...               49.6
...                                       ...  ...                ...
(Mexico, 1969)                           78.8  ...               75.0
(Rwanda, 1969)                          129.0  ...               63.4
(India, 1967)                           147.6  ...               65.8
(Nepal, 1974)                           161.9  ...               69.9
(Monaco, 1969)                            NaN  ...               79.2

[864 rows x 25 columns]

In [55]:
# Convert it to a TensorFlow dataset
test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(le_model_test_df, label="o_life_expectancy", max_num_classes=500)

# Evaluate the model
model.compile(metrics=["accuracy"])
print(model.evaluate(test_ds))

14/14 [==============================] - 0s 11ms/step - loss: 0.0000e+00 - accuracy: 0.0590
[0.0, 0.0590277761220932]

In [56]:
tfdf.model_plotter.plot_model_in_colab(model, tree_idx=0)