<a href="https://colab.research.google.com/github/jaya-shankar/education-impact/blob/master/interpolation_code/education_attainment_interpolation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/jaya-shankar/education-impact.git

Cloning into 'education-impact'...
remote: Enumerating objects: 208, done.
remote: Counting objects: 100% (208/208), done.
remote: Compressing objects: 100% (173/173), done.
remote: Total 208 (delta 97), reused 113 (delta 32), pack-reused 0
Receiving objects: 100% (208/208), 1.65 MiB | 8.16 MiB/s, done.
Resolving deltas: 100% (97/97), done.

In [2]:
import pandas as pd

In [3]:
years = [(y,y+5) for y in range(1960,2011,5)]
datasets = ['Incomplete Primary', 'Lower Secondary', 'Post Secondary']

In [4]:
for name in datasets:
  data = pd.read_csv("/content/education-impact/datasets/wcde-"+name+".csv")   
  df = pd.DataFrame(data)
  for r in range(len(df)):
    for s,e in years:
      df.at[r,str(s)] = round(df.iloc[r][str(s)],2)
      df.at[r,str(e)] = round(df.iloc[r][str(e)],2)
      d   = df.iloc[r][str(e)] - df.iloc[r][str(s)]
      inc = d/5
      i=1
      for y in range(s+1,e):
        df.at[r,str(y)] = round(df.iloc[r][str(s)] + inc*i,2)
        i+=1
  df.to_csv("/content/education-impact/datasets/wcde-"+name+".csv", encoding='utf-8', index=False)

                 Country  1960   1961   1962  ...   2012   2013   2014  2015
0            Afghanistan   0.0   0.04   0.08  ...  15.30  16.30  17.30  18.3
1                Albania  14.6  16.06  17.52  ...  54.36  55.84  57.32  58.8
2                Algeria   0.4   0.56   0.72  ...  58.76  60.64  62.52  64.4
3                 Angola   0.0   0.00   0.00  ...   4.30   4.90   5.50   6.1
4    Antigua and Barbuda   0.0   0.00   0.00  ...  29.04  43.56  58.08  72.6
..                   ...   ...    ...    ...  ...    ...    ...    ...   ...
197       Western Sahara   0.0   0.00   0.00  ...   6.36   9.54  12.72  15.9
198                World  15.7  16.18  16.66  ...  49.54  50.56  51.58  52.6
199                Yemen   0.0   0.00   0.00  ...  22.54  26.26  29.98  33.7
200               Zambia   6.3   6.82   7.34  ...  24.98  26.22  27.46  28.7
201             Zimbabwe   6.7   7.12   7.54  ...  43.02  46.18  49.34  52.5

[202 rows x 57 columns]