<a href="https://colab.research.google.com/github/jaya-shankar/education-impact/blob/master/data_extract_code/edu_attainment_extract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [6]:
import pandas as pd
import numpy as np
import csv

In [7]:
data = pd.read_csv("/content/drive/MyDrive/wcde/education-attainment.csv")   
df = pd.DataFrame(data)
df

                                                    Area  ...  Distribution
0                                            Afghanistan  ...           0.0
1                                            Afghanistan  ...           0.0
2                                            Afghanistan  ...           0.0
3                                            Afghanistan  ...           0.0
4                                            Afghanistan  ...           0.0
...                                                  ...  ...           ...
15908                               Syrian Arab Republic  ...           0.0
15909                           Taiwan Province of China  ...           1.6
15910  United Kingdom of Great Britain and Northern I...  ...           2.3
15911                           United States of America  ...           2.4
15912                                            Uruguay  ...           0.1

[15913 rows x 5 columns]

In [8]:
df = df[df.Education != 'Under 15']
df

                                                    Area  ...  Distribution
2248                                         Afghanistan  ...          92.5
2249                                         Afghanistan  ...          90.6
2250                                         Afghanistan  ...          89.1
2251                                         Afghanistan  ...          84.2
2252                                         Afghanistan  ...          82.4
...                                                  ...  ...           ...
15908                               Syrian Arab Republic  ...           0.0
15909                           Taiwan Province of China  ...           1.6
15910  United Kingdom of Great Britain and Northern I...  ...           2.3
15911                           United States of America  ...           2.4
15912                                            Uruguay  ...           0.1

[13665 rows x 5 columns]

In [9]:
df.Education.unique()

array(['No Education', 'Incomplete Primary', 'Primary', 'Lower Secondary',
       'Upper Secondary', 'Post Secondary', 'Short Post Secondary',
       'Bachelor', 'Master and higher'], dtype=object)

In [11]:
edu_level = {'Incomplete Primary' : ['No Education', 'Incomplete Primary'], 'Lower Secondary' : ['Primary', 'Lower Secondary'],
             'Post Secondary' : ['Upper Secondary', 'Post Secondary', 'Short Post Secondary','Bachelor', 'Master and higher']}

In [16]:
for i in edu_level:
  sr = df.loc[df['Education'].isin(edu_level[i])]
  sr.to_csv('/content/drive/My Drive/wcde/wcde'+i+'.csv', encoding='utf-8', index=False)

In [17]:
countries = list(df.Area.unique())

In [18]:
def init_timeline():
  timeline = [i for i in range(1960,2016)]
  timeline_dic={c:{t : 0 if not t%5 else np.NaN for t in timeline  } for c in countries}
  return timeline_dic

In [19]:
def convert_to_df():
  dft = pd.DataFrame.from_dict(timeline_dic,orient='index')
  dft.insert(0, "Country", countries, True)
  return dft

In [21]:
for e in edu_level:
  timeline_dic = init_timeline()
  data = pd.read_csv("/content/drive/MyDrive/wcde/wcde"+e+".csv")   
  dfs = pd.DataFrame(data)
  for j in range(len(data)):
    timeline_dic[dfs.iloc[j]['Area']][dfs.iloc[j]['Year']] += dfs.iloc[j]['Distribution']
    round(timeline_dic[dfs.iloc[j]['Area']][dfs.iloc[j]['Year']], 2)
  dft = convert_to_df()
  dft.to_csv('/content/drive/My Drive/wcde/modified/wcde-'+e+'.csv', encoding='utf-8', index=False)