<a href="https://colab.research.google.com/github/jaya-shankar/education-impact/blob/master/data_extract_code/female_edu_attainment_extract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!rm -rf education-impact

In [6]:
!git clone https://github.com/jaya-shankar/education-impact.git

Cloning into 'education-impact'...
remote: Enumerating objects: 349, done.
remote: Counting objects: 100% (349/349), done.
remote: Compressing objects: 100% (292/292), done.
remote: Total 349 (delta 176), reused 172 (delta 54), pack-reused 0
Receiving objects: 100% (349/349), 2.87 MiB | 10.85 MiB/s, done.
Resolving deltas: 100% (176/176), done.

In [3]:
import pandas as pd
import numpy as np
import csv

In [7]:
i_file_name = "female_education-attainment.csv"
data = pd.read_csv("education-impact/raw_data/"+i_file_name)
df = pd.DataFrame(data)
df

                                                    Area  ...  Distribution
0                                            Afghanistan  ...           0.0
1                                            Afghanistan  ...           0.0
2                                            Afghanistan  ...           0.0
3                                            Afghanistan  ...           0.0
4                                            Afghanistan  ...           0.0
...                                                  ...  ...           ...
15908                               Syrian Arab Republic  ...           0.1
15909                           Taiwan Province of China  ...           2.2
15910  United Kingdom of Great Britain and Northern I...  ...           2.5
15911                           United States of America  ...           2.6
15912                                            Uruguay  ...           0.2

[15913 rows x 6 columns]

In [8]:
df.columns

Index(['Area', 'Year', 'Age', 'Sex', 'Education', 'Distribution'], dtype='object')

In [9]:
df = df[df.Education != 'Under 15']
df

                                                    Area  ...  Distribution
2248                                         Afghanistan  ...          98.4
2249                                         Afghanistan  ...          97.7
2250                                         Afghanistan  ...          97.3
2251                                         Afghanistan  ...          95.4
2252                                         Afghanistan  ...          94.3
...                                                  ...  ...           ...
15908                               Syrian Arab Republic  ...           0.1
15909                           Taiwan Province of China  ...           2.2
15910  United Kingdom of Great Britain and Northern I...  ...           2.5
15911                           United States of America  ...           2.6
15912                                            Uruguay  ...           0.2

[13665 rows x 6 columns]

In [10]:
df.Education.unique()

array(['No Education', 'Incomplete Primary', 'Primary', 'Lower Secondary',
       'Upper Secondary', 'Post Secondary', 'Short Post Secondary',
       'Bachelor', 'Master and higher'], dtype=object)

In [12]:
edu_level = { 'female_In_Primary_OL'     : [ 'No Education', 'Incomplete Primary'], 
              'female_Primary_OL'        : [ 'No Education', 'Incomplete Primary','Primary'],
              'female_Lower_Secondary_OL': ['No Education', 'Incomplete Primary','Primary', 'Lower Secondary'],
            }

In [13]:
for i in edu_level:
  sr = df.loc[df['Education'].isin(edu_level[i])]
  sr.to_csv('education-impact/datasets/'+i+'.csv', encoding='utf-8', index=False)

In [14]:
countries = list(df.Area.unique())

In [15]:
def init_timeline():
  timeline = [i for i in range(1960,2016)]
  timeline_dic={c:{t : 0 if not t%5 else np.NaN for t in timeline  } for c in countries}
  return timeline_dic

In [16]:
def convert_to_df():
  dft = pd.DataFrame.from_dict(timeline_dic,orient='index')
  dft.insert(0, "Country", countries, True)
  return dft

In [17]:
for e in edu_level:
  timeline_dic = init_timeline()
  data = pd.read_csv("education-impact/datasets/"+e+".csv")   
  dfs = pd.DataFrame(data)
  for j in range(len(data)):
    timeline_dic[dfs.iloc[j]['Area']][dfs.iloc[j]['Year']] += dfs.iloc[j]['Distribution']
    round(timeline_dic[dfs.iloc[j]['Area']][dfs.iloc[j]['Year']], 2)
  dft = convert_to_df()
  dft.to_csv('education-impact/datasets/'+e+'.csv', encoding='utf-8', index=False)

In [18]:
years = [(y,y+5) for y in range(1960,2011,5)]
datasets = [ e for e in edu_level]

for name in datasets:
  data = pd.read_csv('education-impact/datasets/'+name+'.csv')   
  df = pd.DataFrame(data)
  for r in range(len(df)):
    for s,e in years:
      df.at[r,str(s)] = round(df.iloc[r][str(s)],2)
      df.at[r,str(e)] = round(df.iloc[r][str(e)],2)
      d   = df.iloc[r][str(e)] - df.iloc[r][str(s)]
      inc = d/5
      i=1
      for y in range(s+1,e):
        df.at[r,str(y)] = round(df.iloc[r][str(s)] + inc*i,2)
        i+=1
  df.to_csv('education-impact/datasets/'+name+'.csv', encoding='utf-8', index=False)