<a href="https://colab.research.google.com/github/jaya-shankar/education-impact/blob/master/data_extract_code/wcde.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:

data = pd.read_csv("/content/drive/MyDrive/wcde_data.csv")   
df = pd.DataFrame(data)

In [4]:
age = list(df.Age.unique())
for i in range(0,len(age),2):
  sr = df.loc[((df['Age'] == age[i]) | (df['Age']==age[i+1])) & ((df['Year']<=2015) & (df['Year']>=1960))]
  sr.to_csv('/content/drive/My Drive/wcde/wcde'+age[i][:4]+age[i+1][4:]+'.csv', encoding='utf-8', index=False)

In [5]:
countries = list(df.Area.unique())

In [6]:
def init_timeline():
  timeline = [i for i in range(1960,2016)]
  timeline_dic={c:{t : 0 if not t%5 else np.NaN for t in timeline  } for c in countries}
  return timeline_dic

In [7]:
def convert_to_df():
  dft = pd.DataFrame.from_dict(timeline_dic,orient='index')
  dft.insert(0, "Country", countries, True)
  return dft

In [8]:
for i in range(0,len(age),2):
  timeline_dic = init_timeline()
  data = pd.read_csv("/content/drive/MyDrive/wcde/wcde"+age[i][:4]+age[i+1][4:]+".csv")   
  dfs = pd.DataFrame(data)
  for j in range(len(data)):
    timeline_dic[dfs.iloc[j]['Area']][dfs.iloc[j]['Year']] += dfs.iloc[j]['Years']
    round(timeline_dic[dfs.iloc[j]['Area']][dfs.iloc[j]['Year']], 2)
  dft = convert_to_df()
  dft.to_csv('/content/drive/My Drive/wcde/modified/wcde-'+age[i][:4]+age[i+1][4:]+'.csv', encoding='utf-8', index=False)